:root {
  --font-family: "OpenSans", sans-serif;
  --second-family: "BebasNeueBold", sans-serif;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body{
    margin: 0;
}

.container{
    max-width: 1440px;
    width:100%;
    margin: 0 auto;
}

.header{
    height: 768px;
    background-image: url("bg.png");
    text-align: center;
}

.header_logo{
    width: 101px;
    height: 23px;
    margin-top: 21px;
}

.header_h1{
    padding-top: 317px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 60px;
    letter-spacing: 0.1em;
    color: #fff;
    text-transform: uppercase;
}

.header_text{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    margin-top: 21px;
}
<<<<<<< HEAD
=======

.navbar{
    border: 1px solid #e6e6e6;
    background: #fff;
}

.navbar_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    max-width: 941px;
    margin-left: 251px;
    margin-right: 250px;
}

.navbar_logo{
    width: 79px;
    height: 18px;
}

ul{
    display: flex;
    text-align: left;
}

a {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.09em;
    text-align: center;
    color: #48555b;
    padding-left: 39px;
    text-transform: uppercase;
    list-style: none;
    text-decoration: none;
}


a:hover{
font-weight: 700;
font-size: 12px;
color: #00a4e5;
}
>>>>>>> 4d01a06235a1283e794ecacc6db8f9057a3b63ea
